In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("drinks.csv")
print(df)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol      continent
0                             0.0           Asia
1                             4.9         Europe
2                             0.7         Africa
3                            12.4         Europe
4                             5.9         Africa
..                            ...            ...
188                           7.7  South America
189                           2.0           Asia
190                           0.1           Asia
191                           2.5         Africa
192                           4.7         Africa

[193 rows x 6 columns]

In [8]:
upper = df["beer_servings"].quantile(0.90)
lower = df["beer_servings"].quantile(0.10)

In [9]:
df_clear = df[(df["beer_servings"]<0.90) & (df["beer_servings"]>0.10)]

In [10]:
df = pd.read_csv("drinks.csv")

In [11]:
Q1 = df["beer_servings"].quantile(0.75)
Q3 = df["beer_servings"].quantile(0.25)

In [12]:
Iqr= Q3-Q1
print(Iqr)

-168.0

In [13]:
Iqr= Q3-Q1
print(Iqr)

-168.0

In [14]:
from scipy import stats 
x = df["beer_z_score"] = stats.zscore(df["beer_servings"])
print(x)

0     -1.052338
1     -0.170108
2     -0.804521
3      1.376272
4      1.098717
         ...
188    2.248590
189    0.047971
190   -0.992862
191   -0.735132
192   -0.417925
Name: beer_servings, Length: 193, dtype: float64

3 types to take conditions 
1. loc
2.[] extract
3. between function

In [15]:
a = list(range(10))
print(a[:-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
print(a[::-1])
print(a[:-1:-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[]